- content_for :header do
  = link_to "Back", @meal ? meal_path(@meal) : recipes_path, "data-rel" => "back", "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  New recipe

= render 'form'

